extends layout

block content

  h2 Oil Level &amp; Tire Pressure Reminders

  p Get a monthly SMS reminder when you stop at a gas station

  form(action='/user' method='POST')

    p Create or update your profile

    if flash
      #msg(class=flash.status)= flash.message

    label(for='mobile') Cell #
    if user
      input(type='text' name='mobile' value=user.mobile)
    else 
      input(type='text' name='mobile')
    button(type='submit') Submit




